@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size: cover;
    height: 100vh;
    padding: 20px;
    align-items: center;
}

.card-background-container {
    align-items: center;
}

.card-container {
    background-color: #000000e6;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    margin: 20px;
    height: 25vh;
}

.heading {
    font-size: 20px;
    font-family: "Bree Serif";
    color: white;
}

.paragraph {
    font-size: 10px;
    font-family: "Roboto";
    color: white;
}

.button {
    background-color: white;
    color: #000000e6;
    font-size: 10px;
    font-family: "Roboto";
    padding: 15px;
    border-radius: 10px;
    border-width: 0px;
    width: 100px;
}